/* Keyframes for the red border animation */
@keyframes borderBlink {
  0% {
    border-color: red;
    border-width: 15px;
  }
  50% {
    border-color: transparent;
    border-width: 15px;
  }
  100% {
    border-color: red;
    border-width: 15px;
  }
}

/* Apply the border animation to the entire screen */
.warning-border {
    margin-top: 60px;
  position: fixed; /* Ensure it covers the screen */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  border: 5px solid red; /* Initial border style */
  animation: borderBlink 1s infinite; /* Apply the animation */
  pointer-events: none; /* Allow interaction with elements beneath */
  text-align: center;
  
}
.content{
    margin-left:20px;
    margin-top: 10px;
    color: red;
    font-weight: bolder;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.im{
    width: 200px;
    align-content: center;
    margin-top: 150px;
}
@keyframes borderBlinkSuccess {
    0% {
      border-color: rgb(4, 255, 0);
      border-width: 15px;
    }
    50% {
      border-color: transparent;
      border-width: 15px;
    }
    100% {
      border-color: rgb(4, 255, 0);
      border-width: 15px;
    }
  }
  
  /* Apply the border animation to the entire screen for success */
  .success-border {
    margin-top: 60px;
    position: fixed; /* Ensure it covers the screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border: 5px solid rgb(4, 255, 0); /* Initial border style */
    animation: borderBlinkSuccess 1s infinite; /* Apply the animation */
    pointer-events: none; /* Allow interaction with elements beneath */
    text-align: center;
  }
  
  .conten {
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(4, 255, 0);
    font-weight: bolder;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }