#gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .wdd{
        width: 135px;
        /* height: 40px; */
    }
    #id1{
        background-color: #eee;

       
    }
    .mb-4{
        font-size: 40px;
        font-weight: 800;
    }
    .p33{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    #form2Example11{
        margin-bottom: 10px;
        

    }
    #form2Example22{
        margin-bottom: 10px;

    }
    .form-outline{
        margin-bottom: 10px;
    }